# xmake 相关
.xmake/
build/
.vscode/

.vscode/settings.json

# 编译输出
*.o
*.exe
*.dll
*.so
*.a
*.lib

# 临时文件
*.tmp
*.log

# IDE 文件（如果适用）
.vscode/
.idea/

output.txt
output_EF.txt
*.txt

# 其他
*.zip
*.tar.gz
plan.md
*.obj
output_data/
*.csv
record.md

.github/copilot-instructions.md
generator_origin.cpp
*.bak
*.otf